html, body{
    /*height: 100%;*/
}

article{
    display: flex;
    flex-direction: row;
    margin-left: 220px;
    min-height: 100%;
}

#map{
    width: 450px;
    height: 250px;
    margin-left: 200px;
    margin-top: 15px;
    border: 2px solid goldenrod;
}

#foo{
    position: fixed;
    bottom: 0;
}



@media only screen and (max-width: 992px) and (min-device-width: 426px){
    article{
        flex-direction: column;
    }

    #map{
        width: 500px;
        height: 300px;
        margin-left: 50px;
    }

    #foo{
        position: static;
    }
}

@media only screen and (max-device-width: 425px){
   article{
       flex-direction: column;
   }

    #map{
        width: 750px;
        height: 800px;
        margin: 0;
    }

}