/*.nav{
    display: flex;
    justify-content: space-around;
    flex: 1 100px;
    text-align: center;
    margin: 0 2px;
}
.nav ul{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; 
    justify-content: space-around;
    
}*/
.nav_list{
    display: flex;
    justify-content: space-around;
    align-self: auto;
    }
.nav_item{
    flex: 1;
    /*border: solid 1px black;*/
    /*margin-left: 5px;*/
}