article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 200px;
}

.label-place{
    width: 75%;
    margin-bottom: 15px;
    margin-left: 55px;
    margin-top: 25px;
    text-align: center;
}

.jqcart-title{
    height: 55px;
    font-size: 32px;
    font-weight: bold;
}

.jqcart-total-cnt{
    height: 55px;
    font-size: 32px;
    font-weight: bold;
}

#wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item_box{
    width: 300px;
    margin-left: 15px;
}

.item_box img{
    width: 100%;
}


@media only screen and (max-width: 992px){

    article{
        font-size: 24px;
        margin-left: 100px;
    }

    article div{
        width: 350px;
        margin: 15px;
    }

    .nav_list{
        width: 100%;
        z-index: 2;
        background-image: url(../img/patern.png);
        background-color: rgb(247,240,225);
    }

    .item_box{
        width: 600px;
        margin-left: 15px;
    }

    #wrapper{
        display: flex;
        flex-direction: column;
        width: 75%;
        font-family: "MyriadProSemiBold";
        font-size: 32px;
    }

    .item_box img{
        width: 100%;
    }

    .label-place{
        width: 75%;
        margin-right: 75px;
    }

    .jqcart-cart-label{
        width: 500px;
    }


}