
/********@media for index**************/
@media only screen and (max-width: 3440px) and (min-width: 2561px){
    .buttNext{
        left: 3200px;
        width: 215px;
    }

    .buttNext>img{
        margin-top: 1000px;
    }

    .buttPrev{
        right: 3200px;
        width: 215px;
    }

    .buttPrev>img{
        margin-top: 1000px;
    }

    #slider-1{
        height: 55%;
    }

    #take-call{
        left: 2500px;
        width: 500px;
        height: 600px;
    }

    #phone{
        margin-top: 115px;
        width: 300px;
        margin-left: 125px;
    }

    #name{
        margin-top: 30px;
        width: 300px;
        margin-left: 125px;

    }

    .button {
        margin-top: 35px;
        margin-left: 145px;
        width: 200px;
    }
}

@media only screen and (max-width: 2560px) and (min-width: 1921px){
    .buttNext{
        left: 2300px;
        width: 200px;
    }

    .buttNext>img{
        margin-top: 700px;
    }

    .buttPrev{
        right: 2300px;
        width: 200px;
    }

    .buttPrev>img{
        margin-top: 700px;
    }

    #slider-1{
        height: 1500px;
    }

    #take-call{
        left: 1700px;
        width: 500px;
        height: 600px;
    }

    #phone{
        margin-top: 115px;
        width: 300px;
        margin-left: 105px;
    }

    #name{
        margin-top: 30px;
        width: 300px;
        margin-left: 105px;

    }

    .button {
        margin-top: 35px;
        margin-left: 125px;
        width: 200px;
    }
}

@media only screen and (max-width: 1920px) and (min-device-width: 1681px){
    .buttNext{
        left: 1650px;
        width: 150px;
    }

    .buttNext>img{
        margin-top: 400px;
    }

    .buttPrev{
        right: 1650px;
        width: 150px;
    }

    .buttPrev>img{
        margin-top: 400px;
    }

    #slider-1{
        height: 900px;
    }

    #take-call{
        left: 1200px;
    }
}

@media only screen and (max-width: 1800px){
    .buttNext{
        left: 1615px;
    }

    .buttPrev{
        right: 1615px;
    }
}

@media only screen and (max-width: 1680px) and (min-device-width: 1367px){
    .buttNext{
        left: 1475px;
        width: 125px;
    }

    .buttNext>img{
        margin-top: 300px;
    }

    .buttPrev{
        right: 1475px;
        width: 125px;
    }

    .buttPrev>img{
        margin-top: 300px;
    }

    #slider-1{
        height: 700px;
    }

    #take-call{
        left: 1000px;
    }
}

@media only screen and (max-width: 1600px){
    .buttNext{
        left: 1450px;
    }

    .buttPrev{
        right: 1450px;
    }
}

@media only screen and (max-width: 1440px){
    .buttNext{
        left: 1275px;
    }

    .buttPrev{
        right: 1275px;
    }

    #take-call{
        left: 900px;
    }

    #slider-1{
        height: 600px;
    }
}

@media only screen and (max-width: 1366px){
    .buttNext{
        left: 1225px;
    }

    .buttPrev{
        right: 1225px;
    }
}

@media only screen and (max-width: 1280px){

    .buttNext{
        left: 1150px;
    }

    .buttPrev{
        right: 1150px;
    }

    #take-call{
        left: 800px;
    }
}

@media only screen and (max-width: 1200px){
    .buttNext{
        left: 1075px;
    }

    .buttPrev{
        right: 1075px;
    }

    .nav_list{
        margin: 20px 125px 0 125px;
    }

    #social img:first-child{
        margin-left: 40px;
    }

    #take-call{
        left: 700px;
    }
}

@media only screen and (max-width: 1100px){
    .buttNext{
        left: 1000px;
    }

    .buttPrev{
        right: 1000px;
    }

    .nav_list{
        margin: 20px 100px 0 100px;
    }

    #take-call{
        left: 650px;
    }
}

@media only screen and (max-width: 1024px){
    .buttNext{
        left: 925px;
    }

    .buttPrev{
        right: 925px;
    }

    #foo-call-us{
        margin-right: 100px;
    }

    .nav_menu{
        width: 100%;
        margin-left: 0;
    }

    .nav_list{
        margin-top: 0;
    }

    #take-call{
        left: 550px;
    }
}

@media only screen and (max-width:992px) {
    body{
        font-size: 24px;
    }

    #lang a{
        font-size: 24px;
    }

    #call-us p{
        font-size: 24px;
    }
	.menu{
	  display: flex;
        justify-content: flex-end;
        margin: 5px 10px;
	}
	.nav{display: none;}
	.nav--open{
		display: flex;
        }
	.nav--open {
	        display: flex;
			margin: 2% 0;
			z-index: 9999;
            background-image: url(../img/patern.png);
            background-color: rgb(247,240,225);
            text-decoration: underline;
		}
    .nav_list{
        margin: 2px auto;
        display: flex;
        width: 85%;
        flex-direction: column;
        font-size: 64px;
    }
		.nav--open .nav_item{
            margin: 1px;
            padding: 10px 30px;
            text-align: center;
		}

    .nav_list{
        width: 100%;
        z-index: 2;
        background-image: url(../img/patern.png);
        background-color: rgb(247,240,225);
    }

        #slider-1{
            display: none;
        }

        #foto{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
        }

        #foto img{
            margin: 15px;
            z-index: -1;
        }

        header{
            margin-left: 35px;
            margin-top: 25px;
            height: auto;
        }

    #foo-menu>ul{
        display: none;
    }

    #social{
        margin-right: 35px;
    }

    #social a{
        margin: 25px 0 0 110px;
        font-size: 24px;
    }

    #social img{
        width: 75px;
        padding: 5px;
        border: solid black 2px;
        margin-left: 95px;
        margin-top: 5px;
        border-radius: 5px;
    }

    #social img:nth-child(1){
        display: none;
    }

    #social img:nth-child(2){
        display: none;
    }

    #social img:nth-child(3){
        display: none;
    }

    #mobile_social{
        display: flex;
        justify-content: space-around;
    }

    #social img:first-child{
        margin-left: 0;
    }

    #foo-call-us img{
        display: none;
    }

    #take-call{
        left: 350px;
        width: 500px;
        height: 450px;
        font-size: 24px;
    }

    #phone{
        width: 300px;
        margin-left: 100px;
    }

    #name{
        width: 300px;
        margin-left: 100px;
    }

    .button{
        width: 300px;
        margin-left: 65px;
    }
}