@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 992px){

    .flex-box{
        margin-left: 75px;
        margin-top: 35px;
        width: 95%;
    }

    article{
        font-size: 34px;
    }


    .flex-box div img{
        width: 450px;
        max-height: 305px;
    }

    #box{
        flex-basis: 450px;
    }

    #falsehood{
        flex-basis: 910px;
    }

    #falsehood img{
        width: 100%;
    }

    .description{
        top: 360px;
        width: 440px;
        height: 205px;
        font-size: 34px;
    }

    #figures .description{
        top: 690px;
        width: 440px;
        height: 205px;
        font-size: 34px;
    }

    .description-falsehood{
        top: 1010px;
        width: 895px;
        height: 205px;
        font-size: 34px;
    }

    .description-box{
        top: 690px;
        width: 440px;
        height: 205px;
        font-size: 34px;
    }

    .title{
        opacity: 1;
    }

    #content-1, #content-2, #content-3, #content-4, #content-5{
        overflow: hidden;
        margin-left: 75px;
    }

    #slider-2, #slider-3, #slider-4, #slider-5, #slider-6, #slider-7,
    #slider-8, #slider-9, #slider-10, #slider-11, #slider-12, #slider-13,
    #slider-14, #slider-15, #slider-16, #slider-17{
        display: none;
    }

    .mobile_img{
        display: flex;
    }

    .mobile_img img{
        width: 300px;
        margin-left: 5px;
        max-height: 170px;
    }

    .nav_list{
        width: 100%;
        z-index: 2;
        background-image: url(../img/patern.png);
        background-color: rgb(247,240,225);
    }

    .stickytop{
        display: none;
    }

}