
/**********Оформление главных картинок*****************/
.flex-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 950px;
    margin-left: 205px;
    z-index: -99;
}

.flex-box div{
    min-width: 0;
    margin: 5px;
}

.flex-box div img{
    width: 300px;
    max-width: 100%;
    max-height: 200px;
}

#box{
    flex-basis: 610px;
}

#box img{
    width: 100%;
}

.description{
    width: 290px;
    height: 75px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin: 0;
    top: 290px;
    z-index: 999;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: "MyriadProSemiBold";
    transition: 500ms;
}

.description:hover{
    height: 125px;
    transition: 500ms;
    cursor: pointer;
}

.title-ceiling{
    opacity: 0;
}

.description:hover .title-ceiling{
    display: flex;
    margin-left: 25px;
    font-size: 18px;
    font-family: "MyriadProRegular";
    opacity: 1.0;
    transition: 750ms;
}

.description-box{
    width: 598px;
    height: 75px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin: 0;
    top: 500px;
    z-index: 999;
    text-align: center;
    font-size: 24px;
    font-family: "MyriadProSemiBold";
    transition: 500ms;
    color: black;
}

.description-box:hover{
    height: 125px;
    transition: 500ms;
    cursor: pointer;
}

.description-box:hover .title-ceiling{
    display: flex;
    margin-left: 155px;
    font-size: 18px;
    font-family: "MyriadProRegular";
    opacity: 1.0;
    transition: 750ms;
}

.description-falsehood{
    width: 290px;
    height: 75px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin: 0;
    top: 500px;
    z-index: 999;
    text-align: center;
    font-size: 24px;
    font-family: "MyriadProSemiBold";
    transition: 500ms;
    color: black;
}

.description-falsehood:hover{
    height: 125px;
    transition: 500ms;
    cursor: pointer;
}

.description-falsehood:hover .title-ceiling{
    display: flex;
    margin-left: 25px;
    font-size: 18px;
    font-family: "MyriadProRegular";
    opacity: 1.0;
    transition: 750ms;
}

#mobile_services{
    display: none;
}

/*************Конец главных картинок********************/

/**********Оформление описания услуг***************/

#content-1, #content-2, #content-3, #content-4, #content-5{
    display: flex;
    flex-direction: column;
    width: 925px;
    margin-left: 215px;
    overflow: hidden;
    font-family: "MyriadProRegular";
}

.bold{
    font-weight: bold;
}

#slider-2, #slider-3, #slider-4, #slider-5, #slider-6, #slider-7,
#slider-8, #slider-9, #slider-10, #slider-11, #slider-12, #slider-13,
#slider-14, #slider-15, #slider-16, #slider-17{
    width: 100%;
}

#slider-2 div, #slider-3 div, #slider-4 div, #slider-5 div, #slider-6 div,
#slider-7 div, #slider-8 div, #slider-9 div, #slider-10 div, #slider-11 div,
#slider-12 div, #slider-13 div, #slider-14 div, #slider-15 div, #slider-16 div,
#slider-17 div{
    width: 100%;
    height: 180px;
    margin-left: 10px;
}

#slider-2 div img, #slider-3 div img, #slider-4 div img,
#slider-5 div img, #slider-6 div img, #slider-7 div img,
#slider-8 div img, #slider-9 div img, #slider-10 div img,
#slider-11 div img, #slider-12 div img, #slider-13 div img,
#slider-14 div img, #slider-15 div img, #slider-16 div img,
#slider-15 div img{
    width: 100%;
}

.slick-prev{
    margin-left: 65px;
    z-index: 999;
    background: black;
    border-radius: 50%;
}

.slick-next{
    margin-right: 25px;
    background: black;
    border-radius: 50%;
}

.slick-slide{
    width: 100%;
}

