@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 992px){

    .flex-box {
        display: none;
    }

    #mobile_services{
        display: flex;
        flex-direction: row;
        width: 75%;
        margin-left: 200px;
    }

    #mobile_services .description{
        margin: 15px;
        position: static;
        background: #333333;
        color: white;
    }

    #mobile_services .description:hover{
        transition: none;
        height: auto;
    }

    #content-1, #content-2, #content-3, #content-4, #content-5{
        overflow: hidden;
    }

}