body{
    background-image: url("../img/fon.png");
}

/*****Шрифт*******/

@font-face {
    font-family: "MyriadProRegular";
    src: url("../css/fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../css/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../css/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProBold";
    src: url("../css/fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../css/fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../css/fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProItalic";
    src: url("../css/fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../css/fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../css/fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../css/fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../css/fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../css/fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../css/fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../css/fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../css/fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../css/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../css/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../css/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*****Конец шрифта*******/

/*Оформление элементов header*/

header{
    display: flex;
    flex-direction: row;
    height: 3.25cm;
    margin-left: 6cm;
    margin-top: 10px;
    font-family: "MyriadProSemiBold";
}

#lang a{
   font-size: 14px;
    text-decoration: none;
    color: black;
}

#lang a:hover{
    cursor: pointer;
    color: gold;
    transition: 500ms;
}

#call-us{
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    flex-basis: 27.5%;
    font-size: 18px;
    font-weight: bold;
}

#call-us p{
    font-size: 16px;
    margin: 0;
}

.lg{
    flex-basis: 45%;
    padding-left: 45px;
}
#social{
    flex-direction: row;
    margin-right: 170px;
    flex-basis: 27.5%;
}

#social img{
    margin: -5px 25px 0 0;
    width: 25px;
}

#social img:first-child{
    margin-left: 50px;
}

#social a{
    margin: 0 0 0 130px;
    font-size: 18px;
    font-weight: bold;
}

#kus{
    width: 50px;
    padding-left: 155px;
    padding-top: 10px;
}

#in{
    text-decoration: none;
    color: black;
}

#in:hover{
    color: gold;
    transition: 500ms;
}
/*Конец header*/

/*Оформление элементов nav*/

.nav_menu{
    width: 100%;
}

.nav_menu{
    margin-top: 10px;
}

.nav_item{
    margin-top: 25px;
}

nav{
    background-image: url(../img/patern.png);
    background-color: rgb(247,240,225);
    background-size: 100%;
    height: 70px;
}



nav ul{
    display: flex;
    margin: 0;
    font-family: "MyriadProSemiBold";
    font-size: 18px;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    color: goldenrod;
    transition: 500ms;
}

nav.main-nav .stickytop {
    position:fixed;
    top:0
}

/******Конец nav*********/

/******Оформление article**********/

#mobile_social{
    display: none;
}

#slider-1{
    display: flex;
    width: 100%;
    height: 540px;
    margin-top: 25px;
}

#slider-1 img{
    width: 100%;
}

.buttPrev{
    height: 540px;
    position: absolute;
    z-index: 9999;
    right: 1225px;
    background: white;
    opacity: 0.2;
}

.buttPrev:hover{
    opacity: 0.5;
    transition: 500ms;
    cursor: pointer;
}

.buttPrev>img{
    margin-top: 275px;
    width: 15vh;
    height: 10%;
}

.buttNext{
    height: 540px;
    position: absolute;
    z-index: 9999;
    top: 1px;
    left: 1225px;
    background: white;
    opacity: 0.2;
}

.buttNext:hover{
    opacity: 0.5;
    transition: 500ms;
    cursor: pointer;
}

.buttNext>img{
    margin-top: 275px;
    width: 15vh;
    height: 10%;
}

#foto{
    display: none;
}

/*******Конец article*************/

/*******Оформление footer******************/

footer{
    display: flex;
    justify-content: space-around;
    font-family: "MyriadProSemiBold";
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-image: url(../img/patern.png);
    background-color: rgb(247,240,225);
    background-size: 100%;
}

#foo-menu{


}

#foo-menu>ul{
    flex-wrap: nowrap;
    margin-left: 170px;
    list-style-type: none;
}

#foo-menu li a{
    text-decoration: none;
    color:black;
}

#foo-menu li a:hover{
    color: goldenrod;
    transition: 500ms;
}


#foo-call-us{
    margin-right: 170px;
    margin-top: 16px;

}

#foo-call-us p{
    margin: 0;
}


